#server 0.0.0.0:80
#server 0.0.0.0
server :80
#gzip text,image
#threads 40
#loglevel 2
errdocs 0,999 /error
#fcgi 127.0.0.1:9000 php,php5

# There may be several hosts on each server address
host geraldl.lan
# when a rewrite rule is matched,
# the other rewrite rules will be ignored
rewrite /static
rewrite ^(.*)/$ $1/index.html
# when an alias rule is matched,
# the other alias rules will be ignored
alias / c:/htdocs

# another server
#server :8080
