<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8>
<meta name=viewport content="width=device-width">
<title>{{title}}</title>
{{head}}
<style>
body{font-family:Tahoma;font-size:14px;background:#eee;color:#333;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
footer{margin-top:1em;padding:.5em;border-top:1px solid gray;}
video{width:100%%;}
</style>
</head>
<body>
<div id="root">
<h1>{{header}}</h1>
{{body}}
</div>
<footer>
{{footer}}
<center>&copy; 2014-2017 <a href=/>Gerald</a></center>
</footer>
</body>
</html>
