<style>
.video-play {
  margin-left: 8px;
}
.video-player {
  margin: 1em auto;
}
.video-player:not(.active) {
  display: none;
}
</style>
<button class="video-play">Play All</button>
<div class="video-player">
  <div class="video-meta">
    <div>
      Current video: <strong class="video-name">...</strong>
    </div>
    <button class="video-prev">Previous</button>
    <button class="video-next">Next</button>
    <button class="video-close">Close</button>
  </div>
  <video controls></video>
</div>
<script>!function(){
var $ = queryFactory('querySelector');
var $$ = queryFactory('querySelectorAll');
var video = {
  wrap: $('.video-player'),
  el: $('video'),
  btnAll: $('.video-play'),
};
video.name = $('.video-name', video.wrap);
video.el.addEventListener('ended', playNext, false);
$('.video-prev', video.wrap).addEventListener('click', function (e) {
  playOffset(-1);
}, false);
$('.video-next', video.wrap).addEventListener('click', playNext, false);
$('.video-close', video.wrap).addEventListener('click', function (e) {
  playItem(null);
}, false);
document.addEventListener('DOMContentLoaded', function (e) {
  video.data = Array.prototype.map.call($$('.file-video>.link'), function (a) {
    return {
      name: a.textContent,
      url: a.href,
      node: a.parentNode,
    };
  });
}, false);
document.addEventListener('click', function (e) {
  var target = e.target;
  if (target === video.btnAll) {
    playAll();
  } else {
    var node = target.parentNode;
    var item = find(video.data, function (item) {return item.node === node;});
    item && playItem(item);
  }
}, false);
function queryFactory(query) {
  return function (selector, context) {
    context = context || document;
    return context[query].call(context, selector);
  };
}
function find(list, predicate) {
  var length = list && list.length || 0;
  for (var i = 0; i < length; i ++) {
    var item = list[i];
    if (predicate(item, i, list)) return item;
  }
}
function playAll() {
  playItem(video.data[0]);
}
function playItem(item) {
  video.current = item;
  if (!item) {
    video.name.innerHTML = '';
    video.el.src = '';
    video.wrap.classList.remove('active');
    return;
  }
  video.name.textContent = item.name || 'Mistery';
  video.wrap.classList.add('active');
  video.el.src = item.url;
  video.el.play();
}
function playOffset(offset) {
  var i = video.data.indexOf(video.current);
  if (~i) playItem(video.data[i + offset]);
}
function playNext() {
  playOffset(1);
}
}();</script>
